* {
    margin: 0 auto;
    box-sizing: border-box;
}





nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;

    }

    button {
        color: white;
        background-color: #0061fe;
        border: 0;
        padding-left: 12px;
        padding-right: 12px;
        height: 30px;

    }

    .margin-right {
        margin-right: 760px;
    }

}

.container {
    background-color: #b4d0e6;
    display: flex;
    height: 600px;





}


.try_free {

    width: 70%;
    margin: auto;
    text-align: center;

    h1 {
        padding-bottom: 100px;
        padding-top: 25px;

    }


}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;


    .sponsor {
        display: flex;
        width: 70%;

    }

    .presentation_image {
        display: flex;
        width: 10%;
        padding-right: 30px;
    }

    .sponsor {
        padding-right: 2px;
        width: 70%;
        margin: 0 auto;

    }

    img {
        width: 910px;
        padding-left: 10px;
    }

    button {
        position: relative;
        display: block;
        height: 30px;
        width: 600px;
        right: 340px;
        top: 165px;
        color: white;
        background-color: #0061fe;
        border: 0;

    }
}

.page {
    margin-bottom: 160px;

}

.business {
    margin-left: 450px;

    h1 {
        margin-bottom: 20px;
    }

}


.monthly {
    padding-right: 20px;
}

.plan_payment {
    width: 70%;


    display: flex;
    margin-top: 60px;

    .basic,
    .ct_advanced,
    .agency {
        width: 30%;
        border: 1px solid black;
    }

    i {
        height: 20px;
        width: 30px;
    }


    .single, .team {
        text-align: center;
        padding-top: 3px;
        border-bottom: 2px solid black;
    }

    .professional, .advanced{
        margin-top: 20px;
        margin-left: 10px;

        h4 {
            margin-bottom: 12px;
        }

        p {
            margin-top: 3px;
            margin-bottom: 33px;
        }

        button {
            color: white;
            background-color: #0061fe;
            border: 0;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .days-30,
        p,
        strong {
            margin-left: 15px;
        }

        ul {
            list-style: none;
            margin-top: 20px;

        }

        .icon {
            color: blue;
        }

        .info{
            display:flex;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .user{
            margin: 0;
        }
        .person{
            margin-left: 0;
        }
        .folder{
            margin: 0;
        }
        .storage_space{
            margin: 0;
        }
        .check{
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            .icon{
                margin-left: 0;
                margin-right: 0;
            }
           
        }
        .transfert{
            margin: 0;
            
        }


    }









}

.customized_solution {

    border: 1px solid black;
    margin-top: 40px;
    width: 50%;
    margin-bottom: 100px;

    .adressed_to {
        border: 1px solid black;
        text-align: center;
    }

    .sales_office {
        display: flex;
        width: 90%;
    }

    .enterprise {
        margin-left: 3px;


    }

}

.partner_dropbox {
    display: flex;
    width: 50%;
    border: 1px solid black;
    margin-bottom: 50px;

    .find_partner {
        border: 1px solid black;
    }

}

.dropbox_business {
    width: 54%;
    margin-bottom: 50px;

    .row {
        margin-top: 10px;

        span {
            margin-right: 84px;
        }
    }
}

.adv {
    width: 32%;
    margin-left: 275px;
    margin-bottom: 80px;

    h2 {
        margin-bottom: 40px;
    }
}
footer{
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;

    .final{
        width: 60%;
        justify-content: space-around;
        display: flex;
    
        ul{
            
            list-style: none;
           
        }
        .dropbox, .product, .society, .support, .community{
            width: 20%;
            margin: auto;
           
            flex-direction: column;
        }
        li{
            margin-left: -40px;
        }
    }
}